<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>ShAir Pine</title>
  
	<!-- Pinocchio related styles -->
	<link rel="stylesheet" href="/custom.css">
	<!-- <link rel="stylesheet" href="https://pino-sdk.vercel.app/css/core.css"> -->
  
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/atom-one-dark.min.css">
  
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
	
	<style>
	body {
		background-color: #0e0e0e;
		color: #ffffff;
	}
	pre.code code {
	  font-family: 'Fira Code', monospace;
	}
	</style>
</head>
<body id="frame-body" class="flex flex-col items-center px-6">
	<div class="file flex w-full mb-4 mt-3">
		<!-- <img src="/assets/js.png" class="w-7 h-7 rounded-lg" alt=""> -->
		<span class="title flex w-full justify-center items-end text-xl font-semi bold filename"><%= params.name %></span>
	</div>
	<section class="code-section h-[80vh]">
	<div class="code-edit w-[90vw] relative rounded-lg bg-gray-800 p-3 h-full">
			<pre class="code h-full">
<code id="cdis" class="language-<%= params.langCode %> h-full" style="overflow: scroll;background-color: transparent;padding: 0px;"><%= params.code %></code></pre>
			<p class="text-xs text-gray-400 absolute bottom-3 right-3" id="date"><%= params.date %></p>
		</div>
	</section>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script> 
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/<%= params.lang %>.min.js"></script> 
	<!-- <script src="https://pino-sdk.vercel.app/utils/axios.min.js"></script> -->
	
	<script type="module" src="/index.js"></script>
</body>
</html>
